<h1>Add player</h1>

<form action="{{ path('player_add') }}" method="POST">
    <input type="text" id="nom" name="nom" required placeholder="le nom">
    <input type="text" id="username" name="username" required placeholder="le username">
    <input type="number" id="number" name="number" required placeholder="le numéro">
    <button type="submit">add player</button>
</form>
