{% extends 'base.html.twig' %}

{% block body %}

{% for team in teams %}
    <div>
        <span> {{team.name}} </span>
        <a href={{path('team_show', {id : team.id})}}>voir</a>
        {% include "/team/form/_form.html.twig" %} 
    </div>
{% endfor %}

{% endblock %}